*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    position: relative;
    background: #222;
}
.main{
   z-index: -1;
    /* overflow: hidden; */
    position: relative;

}
.main>.slider{
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
    height: 100vh;
    width: 100%;
    /* transition: all 1s ease; */
}
.card{
    position: absolute;
    top: 0px;
    left: 33%;
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg,#0c311ea7,#1914382d);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    z-index: 999;
}
.search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.search input{
   padding: 10px 25px;
   /* width: 45vw; */
   border-radius: 30px;
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    height: 60px;
    flex: 1;
    margin-right: 8px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    cursor: pointer;
    
}
.search button img{
    width: 16px;
}
.weather-icon{
    width: 150px;
    margin-top: 30px;
}
.waether h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 2rem;
    margin-top: 400;
    margin-top: -10px;

}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    margin-top: 40px;


}
.col{
    display: flex;
    align-items: center;
    text-align: left;
    /* outline: 2px solid red; */
    width: 35%;

}
.col img{
    
    width: 50%;
    margin-right: 15px;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 14px;
    display: none;
}
@media screen and (max-width:750px){
    .imageDiv>.image{
        height: 100vh;
        width: 100%;
       
    }
    .card{
        left: 14%;
    }
}

@media  screen and (width:420px){
   .search input{
    width: 50%;
    padding: 0px 12px;
    height: 45px;
   }
   .search button{
    height: 50px;
    width: 50px;
   }
   .card{
    left: 5%;
    top:-60px;
}

}
@media  screen and (max-width:350px){
    .search input{
     width: 20%;
     padding: 0px 12px;
     height: 45px;
    }
    .search button{
     height: 40px;
     width: 40px;
    }
    .imageDiv>.image{
        width: 100%;
    }
    .card{
        left: 5%;
        top:-60px;
    }
 
 }